@import url(./base/base.scss);
// @import "../node_modules/compass-mixins/lib/compass/_css3.scss";

$color-gray: #d1d1d1;
$color-green: #00b38a;
$font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", sans-serif;

* {
  box-sizing: border-box;
  user-select: none;
}

body {
  color: #333;
  font-size: 14px;
  line-height: 1.5;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  background-color: #eee;
  overflow: auto;
  padding-top: 5px;
  @media screen and (max-width: 1024px) {
    padding-top: 0;
  }
}

a {
  text-decoration: none;
  color: $color-green;
  transition: all 0.2s ease-in-out;
  // @include transition(all 0.2s ease-in-out);
}

.last-modified {
  position: absolute;
  top: 30px;
  left: 50%;
  width: 1000px;
  color: #bbb;
  margin-left: -500px;
  font-size: 12px;
  text-align: right;
  @media screen and (max-width: 1024px) {
    display: none;
  }
  @media print {
    display: none;
  }
}

.download-pdf {
  position: absolute;
  top: 30px;
  left: 50%;
  color: #bbb;
  margin-left: -500px;
  font-size: 12px;
  text-align: right;
  @media screen and (max-width: 1024px) {
    display: none;
  }
  @media print {
    display: none;
  }
}

.content {
  position: relative;
  width: 1024px;
  margin: 0 auto 30px;
  border-radius: 5px;
  // @include border-radius(5px);
  background-color: #fff;
  overflow: hidden;

  @media screen and (max-width: 1024px) {
    width: 100%;
    margin: 0;
    border-radius: 0;
    // @include border-radius(0);
  }
}
.no-margin {
  margin: 0 !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
.content-hd {
  width: 100%;
  padding: 30px 50px;
  color: #fff;
  background-color: $color-green;
  overflow: hidden;
  @media screen and (max-width: 720px) {
    padding: 25px 30px;
  }
  @media print {
    color: #000;
    background-color: #fff;
  }

  .title {
    width: 100%;
    border-bottom: 2px solid darken($color-green, 2%);
    font-size: 52px;
    font-weight: 300;
    overflow: hidden;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }

  .name,
  .job,
  .info,
  .contact {
    width: 50%;
    @media screen and (max-width: 720px) {
      width: 100%;
      text-align: center;
    }
  }

  .name {
    float: left;

    h1 {
      font-family: "Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB W3",
        $font-family;
      font-weight: 500;
      letter-spacing: 5px;
      @media screen and (max-width: 720px) {
        letter-spacing: 0;
        line-height: 1.25;
        margin-top: 10px;
      }

      small {
        font-weight: 400;
        letter-spacing: 0;
        font-size: 24px;
        padding-left: 10px;
        @media screen and (max-width: 720px) {
          display: block;
          padding-left: 0;
          font-size: 20px;
          line-height: 1;
        }
      }
    }
  }

  .job {
    float: right;
    text-align: right;
    @media screen and (max-width: 720px) {
      text-align: center;
    }

    h2 {
      display: inline-block;
      font-size: 24px;
      @media screen and (max-width: 720px) {
        border-top: 1px solid darken($color-green, 2%);
        margin: 5px auto 0;
        padding: 10px;
      }
    }
  }

  .info {
    float: left;
    line-height: 1.6;
    font-size: 16px;
  }

  .contact {
    float: right;
    line-height: 1.6;
    font-size: 16px;
    text-align: right;
    padding-right: 5px;

    ul {
      margin: 8px 0 4px;
      @media screen and (max-width: 720px) {
        text-align: center;
        margin: 16px 0 0;
      }

      & > li {
        height: 22px;
        @media screen and (max-width: 720px) {
          display: inline-block;
        }

        & > a {
          color: #fff;
          @media print {
            color: #000;
          }
          font-family: "Lucida Grande", "Hiragino Sans GB",
            "Hiragino Sans GB W3", $font-family;
          font-size: 14px;
          line-height: 22px;

          &:hover {
            color: #e8e8e8;
          }

          .contact-link {
            @media screen and (max-width: 720px) {
              display: none;
            }
          }

          .iconfont {
            fill: #fff;
            vertical-align: text-top;
            @media screen and (max-width: 720px) {
              margin: 5px 8px;
            }
          }
        }
      }
    }
  }
}

.content-bd {
  width: 100%;
  min-height: 200px;
  padding: 20px 30px 50px;
  overflow: hidden;
  @media screen and (max-width: 720px) {
    padding: 20px 20px 50px;
  }

  .content {
    width: 100%;
  }

  .content-left {
    float: left;
  }

  .content-right {
    float: right;
  }

  section {
    overflow: hidden;
    padding: 10px 15px;
  }

  .section-hd {
    position: relative;
    height: 32px;
    margin: 10px auto 5px;
    overflow: hidden;
  }
  hr {
    width: 80%;
    margin: 0 auto 20px;
    background: #ededed;
    border: 0;
    height: 1px;
  }
  .section-bd {
    overflow: hidden;

    ul {
      li {
        margin-top: 8px;
        list-style: square inside;
      }
    }

    .item {
      margin-bottom: 10px;
    }
  }

  .section-title-l,
  .section-title-r {
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 35%;
    height: 0;
    vertical-align: middle;
    border-top: 1px solid #ededed;
  }

  .section-title-l {
    left: 0;
  }

  .section-title-r {
    right: 0;
  }

  .section-title {
    position: relative;
    z-index: 1;
    width: 24%;
    min-width: 100px;
    margin: 0 auto;
    padding: 4px 10px;
    border-radius: 32px;
    // @include border-radius(32px);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color: #eee;
  }

  .section-list {
    padding: 10px 0 5px;
  }

  .item-hd {
    position: relative;
    padding: 10px 0 5px;
    line-height: 20px;
    overflow: hidden;
    font-weight: 500;
    min-height: 30px;

    .item-time {
      display: inline-block;
      @media screen and (max-width: 720px) {
        width: 100%;
        margin-bottom: 5px;
      }
    }

    .item-more {
      position: absolute;
      top: 10px;
      right: 0;
    }

    .item-name {
      display: flex;
      font-weight: 800;
      font-size: 16px;
      align-items: center;
      svg {
        display: block;
        margin-right: 10px;
      }
    }
  }

  .item-bd {
    margin-bottom: 5px;
  }

  .item-des {
    margin-bottom: 16px;
  }
  .item-subtitle {
    color: #00b38a;
    margin-bottom: 5px;
    font-size: 14px;
  }
  .item-des i {
    color: #00b38a;
    padding: 0 5px;
  }

  .section-content {
    text-align: justify;
    word-break: break-all;
    line-height: 22px;
    margin-bottom: 10px;
    em {
      display: inline-block;
      font-family: Menlo, $font-family;
      font-size: 12px;
      line-height: 14px;
      border: 1px solid $color-gray;
      border-radius: 3px;
      // @include border-radius(3px);
      margin: 2px;
      padding: 0 3px;
      background-color: #f7f7f7;
    }
    li i {
      color: $color-green;
    }
    strong {
      font-family: $font-family;
      font-size: 12px;
      line-height: 14px;
      border: 1px solid #f3f3f3;
      // @include border-radius(3px);
      border-radius: 3px;
      font-weight: 500;
      color: #444;
      margin: 2px;
      padding: 0 3px;
      background-color: #f6f6f6;
    }
  }

  .practice {
    .item-time {
      width: 100%;
    }
  }
}

.btn {
  display: inline-block;
  padding: 0 5px;
  border: 1px solid $color-green;
  border-radius: 3px;
  color: $color-green;
  font-family: Menlo, $font-family;
  font-size: 14px;
  line-height: 18px;
  text-align: center;

  &:hover {
    color: #fff;
    background-color: $color-green;
  }
}

.github-footer {
  text-align: center;

  .footer-link {
    display: inline-block;
    color: $color-gray;
    margin-bottom: 25px;
    @media screen and (max-width: 1024px) {
      margin-top: 25px;
    }
  }

  @media print {
    display: none;
  }
}

.skill {
  width: 100%;
  padding: 0 !important;
}

.link-icon {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  position: absolute;
  right: 0;
  top: 10px;

  svg {
    width: 100%;
    height: 100%;
  }
}
.logo {
  display: inline-block;
  height: 24px;
}
/*
    * Plugin :  an-skill-bar
    * Version: 1.0.1
    * Description: A plugin that fills bars with a percentage you set.
    * Author: Hasan Misbah
    * Copyright 2018, Hasan Misbah
    * Free to use and abuse under the MIT license.
    * http://www.opensource.org/licenses/mit-license.php
    */
.skillbar {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  position: relative;
  display: block;
  overflow: hidden;
  height: 30px;
  background-color: #eee;
  border-radius: 5px 0 0 5px;
  &.webpack {
    .title {
      background-color: #569ac6;
    }
    .filled {
      background-color: #76afca;
    }
  }
}

.skillbar.html .title {
  background-color: #c96300;
}
.skillbar.html .filled {
  background-color: #ff8817;
}
.skillbar.css .title {
  background-color: #0f5487;
}
.skillbar.css .filled {
  background-color: #177fcb;
}
.skillbar.js .title {
  background-color: #f0b109;
}
.skillbar.js .filled {
  background-color: #f8ca4d;
}
.skillbar.php .title {
  background-color: #3d4670;
}
.skillbar.php .filled {
  background-color: #5864a2;
}
.skillbar.jquery .title {
  background-color: #064a7a;
}
.skillbar.jquery .filled {
  background-color: #0977c3;
}
.skillbar.sass .title {
  background-color: #ba437d;
}
.skillbar.sass .filled {
  background-color: #cf7aa4;
}
.skillbar.less .title {
  background-color: #1f3861;
}
.skillbar.less .filled {
  background-color: #31599b;
}
.skillbar.react .title {
  background-color: #33c7f0;
}
.skillbar.react .filled {
  background-color: #7adbf5;
}
.skillbar.nodejs .title {
  background-color: #5e8f35;
}
.skillbar.nodejs .filled {
  background-color: #83bf51;
}
.skillbar.angular .title {
  background-color: #8f0023;
}
.skillbar.angular .filled {
  background-color: #dc0035;
}
.skillbar.vue .title {
  background-color: #2f8f67;
}
.skillbar.vue .filled {
  background-color: #47c390;
}
.skillbar.meteor .title {
  background-color: #cc2b2c;
}
.skillbar.meteor .filled {
  background-color: #de6566;
}
.skillbar.backbone .title {
  background-color: #005086;
}
.skillbar.backbone .filled {
  background-color: #007dd3;
}
.skillbar.ember .title {
  background-color: #c63d2d;
}
.skillbar.ember .filled {
  background-color: #dc7064;
}
.skillbar.mysql .title {
  background-color: #003e58;
}
.skillbar.mysql .filled {
  background-color: #0073a5;
}
.skillbar.python .title {
  background-color: #295479;
}
.skillbar.python .filled {
  background-color: #3d7cb2;
}
.skillbar.django .title {
  background-color: #010705;
}
.skillbar.django .filled {
  background-color: #0e4731;
}
.skillbar.agile .title {
  background-color: #198cb7;
}
.skillbar.agile .filled {
  background-color: #37b6e4;
}
.skillbar.photoshop .title {
  background-color: #211a56;
}
.skillbar.photoshop .filled {
  background-color: #382c90;
}
.skillbar.illustrator .title {
  background-color: #572e11;
}
.skillbar.illustrator .filled {
  background-color: #98511d;
}
.skillbar.indesign .title {
  background-color: #a42b69;
}
.skillbar.indesign .filled {
  background-color: #d04c8f;
}
.skillbar.laravel .title {
  background-color: #f0280f;
}
.skillbar.laravel .filled {
  background-color: #f56856;
}
.skillbar .title {
  background-color: rgba(0, 0, 0, 0.6);
  height: 30px;
  width: 85px;
  text-align: center;
  left: 0;
  color: #f0f0f0;
  border-radius: 5px 0 0 5px;
}
.skillbar .percent,
.skillbar .title {
  padding: 5px;
  position: absolute;
  top: 0;
  z-index: 9;
}
.skillbar .percent {
  right: 0;
  color: #000;
  font-weight: 700;
}
.skillbar .filled {
  z-index: 8;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 80, 80, 0.3);
  height: 100%;
  width: 20px;
  border-radius: 5px 0 0 5px;
}
/*# sourceMappingURL=an-skill-bar.css.map */
